In [1]:
x=0
y=6
z=10
print((x<y)or(not(z==y)and(z<x)))

True

In [2]:
x=1
y=1
z=1
print((x<y)or(not(z==y)and(z<x)))

False

In [3]:
print(-7 * 20 + 8 / 16 * 2 + 54)

-85.0

In [4]:
print(7 ** 2 // 9 % 3)

2

In [5]:
print((7 - 4 * 2) * 10 / 5 ** 2 + 15 )

14.6

In [6]:
print(5 % 10 + 10 -25 * 8 //5)

-25

In [7]:
print('hello' * 2 - 5)

TypeError: unsupported operand type(s) for -: 'str' and 'int'

In [34]:
print('hi'>'hello' and 'bye'<'Bye')

False

In [35]:
print('hi'>'hello' or 'bye'<'Bye')

True

In [36]:
print(7>8 or 5<6 and 'I am fine'>'I am not fine')

False

In [37]:
print(10!=9 and 29>=29)

True

In [38]:
print(10!=9 and 29>=29 and 'hi'>'hello' or 'bye' < 'Bye' and 7<=2.5)

True

In [39]:
print(5%10+10<50 and 29>=29)

True

In [40]:
print(7**2 <=5//9%3 or 'bye' < 'Bye')

False

In [41]:
print(5%10<10 and -25>1*8//5)

False

In [42]:
print(7**2//4+5>8 or 5!=6)

True

In [43]:
print(7/4<6 and 'I am fine'> 'I am not fine')

False

In [44]:
print(10+6*2**2!=9//4-3 and 29>=29/9)

True

In [45]:
print('hello'* 5> 'hello' or 'bye' < 'Bye')

True

In [46]:
print(15 & 22)

6

In [47]:
print(15|22)

31

In [48]:
print(-15&22)

16

In [49]:
print(-15|22)

-9

In [50]:
print(~15)

-16

In [51]:
print(~22)

-23

In [52]:
print(~-20)

19

In [53]:
print(15^22)

25

In [54]:
print(8<<3)

64

In [55]:
print(40>>3)

5

In [56]:
a=6

In [57]:
a==6

True

In [58]:
a<5.9

False

In [59]:

a>5.9

True

In [60]:
b=7

In [61]:
b/6

1.1666666666666667

In [62]:
b//6

1

In [63]:
b/4

1.75

In [64]:
b%4

3

In [65]:
b%7

0

In [30]:
b*2

4

In [29]:
b**2

4

In [27]:
-15

-15

In [26]:
~-15

14

In [66]:
x+=x+10

In [67]:
x=10
y=x+10

In [68]:
w= float(input("Enter Width :"))
h=  float(input("Enter Height: "))
result = w * h
print("Area =" , result)

Enter Width :1
Enter Height: 1
Area = 1.0

In [69]:
widgets = int(input("Enter the no of Widgets: "))
gizmos = int(input("Enter the no of Gizmos: "))

total = (widgets*75) + (gizmos*112)

print("The total weight is",total,"grams.")

Enter the no of Widgets: 3
Enter the no of Gizmos: 3
The total weight is 561 grams.

In [20]:
import math
height = float(input("Enter the height in (m): "))

acceleration = 9.8
v_initial = 0


v_final = math.sqrt(math.pow(v_initial,2) + 2*acceleration*height)

print("The final result is",v_final)

Enter the height in (m): 5
The final result is 9.899494936611665

In [19]:
num_1 = int(input("Enter number 1: "))
num_2 = int(input("Enter number 2: "))
num_3 = int(input("Enter number 3: "))

largest = max(max(num_1,num_2),num_3)
smallest = min(min(num_1,num_2),num_3)
sum_of_all = num_3 + num_2 + num_1
mid = sum_of_all - (largest + smallest)

print("Unsorted Order: ",num_1,num_2,num_3)
print("Sorted Order: ",smallest, mid,largest)

Enter number 1: 12
Enter number 2: 13
Enter number 3: 15
Unsorted Order:  12 13 15
Sorted Order:  12 13 15

In [1]:
num=input("enter a four digit number: ")
addition=int(num[0])+int(num[1])+int(num[2])+int(num[3])
print("Sum of Digit=",addition)

enter a four digit number: 1234
Sum of Digit= 10

In [17]:
name=("SURANJIT")
print(name.lower())

suranjit

In [16]:
name="Suranjit Shaw"
name=name.find('U')
print(name)

-1

In [15]:
name="Suranjit Shaw"
print(name.replace("Shaw","Saw"))

Suranjit Saw

In [14]:
name="Suranjit Shaw"
print('Sur' in name)

True

In [13]:
print(3!=2)

True

In [12]:
print(not 3>4)

True

In [11]:
age=int(input("Enter the age: "))
if age>=18:
    print(" 'You are Adult and can Cast your Vote' ")
elif age>=3 and age<18:
    print(" 'You are in School ''")
else:
    print(" 'You are kid' ")

Enter the age: 6
 'You are in School ''

In [10]:
a=int(input("Enter first no."))
b=int(input("Enter second no.")) 
operator=input("Enter the operator")
if operator=="+":
    print(a+b)
elif operator=="-":
    print(a-b)    
elif operator=="*":
    print(a*b)     
elif operator=="/":
    print(a/b) 
elif operator=="%":
    print(a%b)
else:
    print(' "Invalid Operator" ')

Enter first no.1
Enter second no.2
Enter the operator+
3

In [8]:
number=range(9)
print(number)

range(0, 9)

In [40]:
i=int(input("Enter the Starting point"))
n=int(input("How many times you want to print ?"))
while i<=n:
    print(i) 
    i=i+1

Enter the Starting point1
How many times you want to print ?6
1
2
3
4
5
6

In [87]:
# triangle pattern (upper)

i=1
n=int(input("How many times you want to print ?"))
while i<=n:
    print(i * "*") 
    
    i=i+1

How many times you want to print ?10
*
**
***
****
*****
******
*******
********
*********
**********

In [86]:
# triangle pattern (lower)
i=int(input("Enter the Starting point"))
n=int(input("How many times you want to print ?"))
while i>=n:
    print(i * "*") 
    
    i=i-1

Enter the Starting point10
How many times you want to print ?0
**********
*********
********
*******
******
*****
****
***
**
*

In [94]:
# For loop 

for item in range(5):
    print(item + 1)

1
2
3
4
5

In [95]:
# LIST

marks=[65,56,23,98,56,25,36,32,100,100,23,12,99,98,58]
print(marks)

[65, 56, 23, 98, 56, 25, 36, 32, 100, 100, 23, 12, 99, 98, 58]

In [98]:
# LIST (For particular index)

marks=[65,56,23,98,56,25,36,32,100,100,23,12,99,98,58]
print(marks [-1])

58

In [99]:
# LIST (For particular Range)

marks=[65,56,23,98,56,25,36,32,100,100,23,12,99,98,58]
print(marks [0:5])

[65, 56, 23, 98, 56]

In [100]:
# LIST (Using For Loop)

marks=[65,56,23,98,56,25,36,32,100,100,23,12,99,98,58]
for Score in marks:
    print(Score)

65
56
23
98
56
25
36
32
100
100
23
12
99
98
58

In [102]:
# LIST (Adding a new No. to the list)

marks=[65,56,23,98,56,25,36,32,100,100,23,12,99,98,58]
marks.append(0)
print(marks)

[65, 56, 23, 98, 56, 25, 36, 32, 100, 100, 23, 12, 99, 98, 58, 0]

In [103]:
# LIST (Adding at any index)

marks=[65,56,23,98,56,25,36,32,100,100,23,12,99,98,58]
marks.insert(1,100)
print(marks)

[65, 100, 56, 23, 98, 56, 25, 36, 32, 100, 100, 23, 12, 99, 98, 58]

In [104]:
# LIST (Existance of a Number)

marks=[65,56,23,98,56,25,36,32,100,100,23,12,99,98,58]
print(100 in marks)

True

In [105]:
# LIST (Length/Size of the List)

marks=[65,56,23,98,56,25,36,32,100,100,23,12,99,98,58]
print(len(marks))

15

In [2]:
# LIST (Using While loop)

marks=[65,56,23,98,56,25,36,32,100,100,23,12,99,98,58]
i=0
while i< len(marks):
    print(marks[i])
    i=i+1

65
56
23
98
56
25
36
32
100
100
23
12
99
98
58

In [8]:
# LIST (CLear List)
# output will be empty

marks=[65,56,23,98,56,25,36,32,100,100,23,12,99,98,58]
i=0
while i< len(marks):
    
    i=i+1
marks.clear()    
print(marks)

[]

In [20]:
# Break and Continue


# BREAK

Students=["Sura" , "Satya" , "Bhusa" , "Nihar" , "Raj" , "Null Soul" ]

for student in Students:
    if student == "Raj":
          break
    print(student)

Sura
Satya
Bhusa
Nihar

In [22]:
# Break and Continue


# CONTINUE

Students=["Sura" , "Satya" , "Bhusa" , "Nihar" , "Raj" , "Null Soul" ]

for student in Students:
    if student == "Null Soul":
          continue
    print(student)

Sura
Satya
Bhusa
Nihar
Raj

In [23]:
# TUPLE


# Counting the N0. of repetation

marks=(65,56,23,98,32,32,56,100,1,56,25,36,32,100,100,23,12,99,98,58)
print(marks.count(100))

3

In [24]:
# TUPLE


# Check of the Index no.

marks=(65,56,23,98,32,32,56,100,1,56,25,36,32,100,100,23,12,99,98,58)
print(marks.index(100))

7

In [25]:
# SET


marks={65,56,23,98,32,32,56,100,1,56,25,36,32,100,100,23,12,99,98,58}
print(marks)

{32, 65, 98, 1, 100, 36, 99, 12, 23, 56, 25, 58}

In [26]:
# Using FOR Loop

marks={65,56,23,98,32,32,56,100,1,56,25,36,32,100,100,23,12,99,98,58}
for score in marks:
    print(score)

32
65
98
1
100
36
99
12
23
56
25
58

In [27]:
# DICTIONARY


marks={"english": 95, "chemisty":97}
print(marks["english"])

95

In [28]:
# DICTIONARY

# Adding the marks in the dictionary


marks={"english": 95, "chemisty":97}
marks["physics"]=99
print(marks)

{'english': 95, 'chemisty': 97, 'physics': 99}

In [37]:
# DICTIONARY

# Updating the marks in the dictionary


marks={"english": 95, "chemisty":94}
marks["physics"]=100
print("MARKS   :",marks)
marks["english"]=100 
print("UPDATED :",marks)

MARKS   : {'english': 95, 'chemisty': 94, 'physics': 100}
UPDATED : {'english': 100, 'chemisty': 94, 'physics': 100}

In [59]:

# PASS

Students=["Sura" , "Satya" , "Bhusa" , "Nihar" , "Raj" , "Null Soul" ]

for student in Students:
    if student == "Null Soul":
        
     print("Harami")
    pass
print(student)

Harami
Null Soul

In [60]:
import math
print(dir(math))

['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'cbrt', 'ceil', 'comb', 'copysign', 'cos', 'cosh', 'degrees', 'dist', 'e', 'erf', 'erfc', 'exp', 'exp2', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'isqrt', 'lcm', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'nextafter', 'perm', 'pi', 'pow', 'prod', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc', 'ulp']

In [63]:
import math
n=int(input("Enter the No."))
print("Square Root is : ",int(math.sqrt(n)))

Enter the No.49
Square Root is :  7

In [78]:
def Sum_Of_Numbers(n1,n2,n3):
    print(n1+n2+n3)
    

a=int(input("Enter the No."))
b=int(input("Enter the No."))
c=int(input("Enter the No."))
print("Sum_Of_Numbers :")
Sum_Of_Numbers(a,b,c)

Enter the No.1
Enter the No.2
Enter the No.3
Sum_Of_Numbers :
6